.container-testimonials .title {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  padding-top: 109px;
  margin-left: 93px;
  margin-right: 860px;
}

.container-testimonials {
  background-color: #9c69e2;
  width: 70%;
  border-radius: 50px;
  margin: 0 auto;
  height: 700px;
  margin-top: 150px;
}