.card-features a{
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 25.6px;
  color: #212353;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.arrow-icon {
  color: #9c69e2;
  padding-left: 15px;
}