.home {
  width: 80%;
  margin: 0 auto;
  padding-top: 3%;
}

.hero {
  display: flex;

  p {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    color: #4b5d68;
    margin-top: -30px;
    width: 110%;
  }
}

.hero-title {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  color: #212353;
  width: 50%;
  padding-top: 50px;
}

.image-home {
  margin-right: -30px;
  margin-top: -150px;
}

.home-description {
  margin-bottom: 50px;
}