.downFooter {
  display: flex;
  justify-content: space-between;
  font-family: 'Nunito', sans-serif;
  color: #212353;
  margin-top: 150px;

  a {
    color: #212353;
    font-size: 16px;
  }

  span {
    font-weight: 900;
    font-size: 16px;
  }
}

.downFooter .dw {
  font-size: 20px;
}

.downFooter .about {
  display: flex;
  flex-wrap: wrap;
  width: 7%;

  a {
    text-decoration: none;
  }
}

.downFooter .help {
  display: flex;
  flex-wrap: wrap;
  width: 7%;

  a {
    text-decoration: none;
  }
}

.downFooter .socialMedia {
  width: 9%;
}

.infos {
  width: 30%;
}

.upper-infos {
  display: flex;
  align-items: center;

  span {
    margin-left: 20px;
  }
}

.social-media {
  padding-right: 20px;
  padding-top: 30px;
}

